<% for column in Spot.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @spot.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @spot %> |
<%= link_to 'Back', :action => 'list' %>
