<%= error_messages_for 'city' %>

<!--[form:city]-->
<p><label for="city_name">Name</label><br/>
<%= text_field 'city', 'name'  %></p>

<p><label for="city_description">Description</label><br/>
<%= text_area 'city', 'description'  %></p>
<!--[eoform:city]-->

