<% content_for :head do %>
  <%= @map.to_html %>
<% end %>

<h2><%= link_to "All Cities", :action => 'list'%> &raquo; <%= @city.name %></h2>

<%= @map.div :width => 600, :height => 400 %>

<h3>Spots</h3>

<ul>
  <% @city.spots.each do |spot| %>
    <li><%= link_to spot.name, spot_url(:city => spot.city.normalized_name, :spot => spot.name) %></li>
  <% end %>

</ul>

<%= link_to 'Edit', :action => 'edit', :id => @city %> |
<%= link_to 'Back', :action => 'list' %>
